
body {
    background: url("../assets/bg2.png");
}

h1,h4,button {
    position: relative;
    text-align: center;
    top: 300px;
    margin-top: 20px;
}

h1 {
    font-size: 60px;
}

h4 {
    font-size: 30px;
}

button {
    position: relative;
    left:44%;
}

