/* /*======================
    404 page
=======================

.page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: "Arvo", serif;
  }
  
  .page_404 img {
    width: 100%;
  }
  
  .four_zero_four_bg {
    background-image: url("../assets/bg2.png");
    background-position: center;
  }
  
  .four_zero_four_bg h1 {
    font-size: 50px;
    text-align: center;
  }
  
  .four_zero_four_bg h3 {
    font-size: 50px;
    text-align: center;
  }
  
  .link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
  }
  .contant_box_404 {
    margin-top: -50px;
    text-align: center;
  }
   */

body{
    background: url("../assets/bg2.png");
}

h1,h4,button{
    position: relative;
    text-align: center;
    top: 300px;
    margin-top: 20px;
}

h1{
    font-size: 60px;
}

h4 {
    font-size: 30px;
}

button{
    position: relative;
    left:44%;
}

