* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.header {
    background-color: white;
    z-index: 10;
    position: sticky;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 10%;
}

.logo-image {
    width: 125px;
}

.nav-links {
    margin-right: 5%;
    cursor: pointer;
}

.nav-links a {
    text-decoration: none;
    color: black;
    margin-left: 30px;
}

.nav-links a:hover {
    color: #004FEC;
}

.section {
    background: url("https://github.com/amitkhirdekar/Quiz_Time/blob/master/bg.png?raw=true");
    background-position: 70% -10%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}

.section#blur.active {
    filter: blur(10px);
    pointer-events: none;
    user-select: none;
}

.heading-div {
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heading {
    font-size: 60px;
    font-weight: 200;
}

.sub-heading {
    margin-top: 1%;
    font-size: 30px;
}


.upload-csv-section, .upload-file-section {
    background-color: white;
    width: 50%;
    height: 30vh;
    margin: 5% 5%;
    padding: 50px;
    border-radius: 6px;
    border-style: none;
    box-shadow: 0 2px 15px rgb(0 0 0 / 13%);
    color: #9daac7;
    text-align: center;
    font-size: 15px;
    line-height: 27px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heading-to-upload-csv, .heading-to-upload-file {
    color: #004FEC;
    font-size: 25px;
}

.button {
    border-radius: 20px;
    border: 1px solid #9C9C9C;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #004FEC;
    border-color: #004FEC;
    color: white;
    margin-top: 20px;
    padding: 8px 35px;
    font-weight: 500;
    font-size: 13px;
    text-decoration: none;
    transition: all 0.5s;
}

.reset-button {
    background-color: #c20000;
    border-color: #c20000;
}

.required-field {
    color: #f82424;
}

.important {
    color: #c20000;
}

.button:hover {
    background-color: #00297c;
}

.reset-button:hover {
    background-color: #850000;
}

.buttons {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.choose-csv, .choose-file {
    margin-top: 20px;
    margin-bottom: 15px;
}

#configs-upload {
    height: fit-content;
}

#csv-page {
    max-height: 90vh;
}

.configs-heading {
    margin-top: 5%;
    font-size: 45px;
    line-height: 60px;
    color: #3e6be0;
    font-weight: 100;
    text-align: center;
}

.config-container {
    width: 70%;
    background-color: white;
    margin-top: 20px;
    padding: 50px;
    border-radius: 6px;
    border-style: none;
    box-shadow: 0 2px 15px rgb(0 0 0 / 13%);
    font-size: 15px;
    line-height: 27px;
    font-weight: 400;
    color: #8492af;
    display: flex;
    flex-direction: column;
}

.row1 {
    margin-top: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* #field-name {
    display: flex;
    align-items: center;
    justify-content: center;
}

#field-name span {
    margin-left: 2px;
    color: #555555;
} */

.dropdowns {
    border: none;
    padding: 0 15px;
    border-radius: 6px;
    background-color: #f4f9fe;
    height: 34px;
    font-size: 14px;
    line-height: 1.4;
    color: #555555;
}

.choose-file::file-selector-button, #csv-id::file-selector-button, #rules-json-id::file-selector-button {
    border: none;
    padding: 2px 10px;
    height: 34px;
    background-color: #f4f9fe;
    font-size: 14px;
    line-height: 1.4;
    color: #555555;
}

.alternate-value {
    position: absolute;
    top: 0;
    left: 100%;
    padding: 5px;
    display: none;
    background-color: #f4f9fe;
    font-size: 14px;
    line-height: 1.4;
    color: #555555;
}

.inputs {
    border: none;
    padding: 2px 10px;
    border-radius: 6px;
    background-color: #f4f9fe;
    height: 34px;
    font-size: 14px;
    line-height: 1.4;
    color: #555555;
}

.extra-width {
    width: 250px;
}

.hidden {
    visibility: hidden;
}

.displayNone {
    display: none;
}

.big-font {
    font-size: 18px;
}

.error-msg {
    min-height: 90vh;
    background: url("https://github.com/amitkhirdekar/Quiz_Time/blob/master/bg-flipped.png?raw=true");
}

.error-list-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    font-size: 15px;
    line-height: 27px;
    font-weight: 400;
    color: #8492af;
    text-align: left;
    width: 700px;
}

.error-list {
    padding: 20px 0;
    border-bottom-color: rgba(0, 0, 0, .2);
    border-bottom: 1px dashed #E6E6E6;
    display: flex;
    align-items: center;
}

.line-number {
    font-size: 13px;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 30px;
    background-color: #f82424;
    font-weight: 600;
    padding: 10px 20px;
}

.errors {
    margin-left: 20px;
}

.no-error {
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: green;
}

.all-column-errors {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    min-height: 15vh;
}

.column-error {
    background-color: #3e6be0;
    color: white;
    padding: 15px;
    width: 100%;
    border-radius: 30px;
    margin-bottom: 20px;
    transition: all 0.5s;
}

.column-error:hover {
    background-color: #c20000;
}

.footer {
    height: 15vh;
}

#alert-popup {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 60px;
    padding-bottom: 20px;
    border-radius: 6px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    background: #fff;
    font-size: 20px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#alert-popup.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#alert-message {
    margin-bottom: 20px;
}

#confirm-popup {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 60px;
    padding-bottom: 20px;
    border-radius: 6px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    background: #fff;
    font-size: 20px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#confirm-popup.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.modal {
    display: none;
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    height: 70%;
}

.modal-container {
    display: flex;
    background: url("https://github.com/amitkhirdekar/Quiz_Time/blob/master/bg2.png?raw=true");
    align-items: center;
    width: 100%;
    height: 83%;
}

.text-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.upload-values {
    margin-left: 20px;
    width: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.upload-div {
    border: 1px solid #9daac7;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.config-file {
    margin-bottom: 20px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.value-text {
    resize: none;
    width: 100%;
    height: 85%;
    overflow: scroll;
    color: #9daac7;
    padding: 15px;
}

.button-on-config-form {
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 2px 15px;
    height: 34px;
    background-color: #f4f9fe;
    font-size: 14px;
    line-height: 1.4;
    color: #555555;
}

.save-button {
    float: right;
    padding: 0px;
}

