* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: "Roboto",Helvetica,Arial,sans-serif;
}

.header {
    background-color: white;
    z-index: 10;
    position: sticky;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 10%;
}

.logo-image {
    width: 125px;
}

.nav-links {
    margin-right: 5%;
    cursor: pointer;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.nav-links:hover a{
    color: #004FEC;
}

.section {
    background: url("../assets/bg.png");
    background-position: 70% -10%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 200vh;
}

.heading-div {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heading {
    font-size: 60px;
    font-weight: 200;
}

.sub-heading {
    margin-top: 1%;
    font-size: 30px;
}

.upload-csv-section {
    background-color: white;
    width: 50%;
    height: 30vh;
    margin: 5% 5%;
    padding: 50px;
    border-radius: 6px;
    border-style: none;
    box-shadow: 0 2px 15px rgb(0 0 0 / 13%);
    color: #9daac7;
    text-align: center;
    font-size: 15px;
    line-height: 27px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heading-to-upload-csv {
    color: #004FEC;
    font-size: 25px;
}

.button {
    border-radius: 20px;
    border: 1px solid #9C9C9C;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #004FEC;
    border-color: #004FEC;
    color: white;
    margin-top: 20px;
    padding: 8px 35px;
    font-weight: 500;
    font-size: 13px;
    text-decoration: none;
    transition: all 0.5s;
}

.button:hover {
    background-color: #00297c;
}

.choose-csv {
    margin-top: 20px;
    margin-bottom: 15px;
}

.configs-heading {
    font-size: 45px;
    line-height: 60px;
    color: #3e6be0;
    font-weight: 100;
    text-align: center;
}

.configs-sub-heading {
    letter-spacing: .5px;
    font-size: 15px;
    line-height: 27px;
    font-weight: 400;
    color: #8492af;
    margin-bottom: 20px;
}

.config-container {
    width: 70%;
    background-color: white;
    margin-top: 20px;
    padding: 50px;
    border-radius: 6px;
    border-style: none;
    box-shadow: 0 2px 15px rgb(0 0 0 / 13%);
    font-size: 15px;
    line-height: 27px;
    font-weight: 400;
    color: #8492af;
    display: flex;
    flex-direction: column;
}

.row1 {
    margin-top: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#field-name {
    display: flex;
    align-items: center;
    justify-content: center;
}

#field-name span {
    margin-left: 2px;
    color: #555555;
}

.dropdowns {
    border: none;
    padding: 0 20px;
    border-radius: 6px;
    background-color: #f4f9fe;
    height: 34px;
    font-size: 14px;
    line-height: 1.4;
    color: #555555;
}

#text-file-id::file-selector-button, #csv-id::file-selector-button {
    border: none;
    padding: 2px 10px;
    height: 34px;
    background-color: #f4f9fe;
    font-size: 14px;
    line-height: 1.4;
    color: #555555;
}

#field-value {
    position: relative;
}

#alternate-value {
    position: absolute;
    top: 0;
    left: 100%;
    padding: 5px;
    display: none;
    background-color: #f4f9fe;
    font-size: 14px;
    line-height: 1.4;
    color: #555555;
}

.inputs {
    border: none;
    padding: 2px 10px;
    border-radius: 6px;
    background-color: #f4f9fe;
    height: 34px;
    font-size: 14px;
    line-height: 1.4;
    color: #555555;
}

#dependent-field-value {
    width: 250px;
}

#dependent-value, #current-value {
    visibility:hidden;
}

#upload-configs {
    font-size: 18px;
}

.error-msg {
    min-height: 90vh;
    background: url(../assets/bg-flipped.png);
}

.error-list-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    font-size: 15px;
    line-height: 27px;
    font-weight: 400;
    color: #8492af;
    text-align: left;
    width: 500px;
}

.error-list {
    padding: 20px 0;
    border-bottom-color: rgba(0,0,0,.2);
    border-bottom: 1px dashed #E6E6E6;
    display: flex;
    align-items: center;
}

.line-number {
    font-size: 13px;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 30px;
    background-color: #f82424;
    font-weight: 600;
    padding: 10px 20px;
}

.errors {
    margin-left: 20px;
}

.no-error {
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: green;
}




