@import url('https://fonts.googleapis.com/css?family=Quicksand:300');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: whitesmoke;
}

body {
    width: 100%;
    height: 100vh;
    background-size: 300% 300%;
    background-image: linear-gradient(
            45deg, 
          #000000 0%, 
          #080808 25%, 
          #2f363e 51%, 
          #505050 100%
    );  
    animation: AnimateBG 10s ease infinite;
  }

  @keyframes AnimateBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }

.landing_page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: black;
    color: white;
    font-family: 'Rubik Microbe', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    background-color: black;
    font-size: 5rem;
    overflow: hidden;
}

.hide span {
    display: inline-block;
    transform: translateY(100%);
}

header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #181818;
    z-index: 9;
}

#header_title{
    font-family:fantasy;
    padding: 5px;
    right: 50%;
    text-align: center;
    color: whitesmoke;
}

h1, h3{
    color: #fff;
    text-shadow: 0 0 20px rgb(10, 250, 10);
    padding-left: 5px;
}

#field_header{
    margin-bottom: 10px;
}

#dependency_header{
    margin-top: 10px;
    margin-bottom: 10px;
}

input{
    margin: 3px;
    color: black;
}

select{
    color : black;
}

#csv_svg {
    margin-left: 10%;
    width: 40%;
}

#shuttle {
    background-color: #9900F0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    transform: translateY(100%);
}

#configs{
    margin-bottom: 20px;
}

.form_container{
    position: relative;
    margin-bottom: 20px;
    left: 25%;
    width: 50%;
    top: 20%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2f363e;
    box-shadow: 10px 10px 15px rgb(10, 250, 10),
                10px 10px 25px rgb(10, 250, 10),
                inset 5px 5px 10px rgb(0,0,0,.5),
                inset 5px 5px 10px rgb(255, 255, 255, 0.2),
                inset -5px -5px 15px rgb(0, 0, 0, 0.75);
    border-radius: 30px;
    padding: 50px;
}

.button_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    }
    
#add-dependency-button { grid-area: 1 / 3 / 2 / 4; }
#add-field-button { grid-area: 2 / 3 / 3 / 4; }
#value-submit-button { grid-area: 3 / 3 / 4 / 4; }
#reset_config { grid-area: 3 / 5 / 4 / 6; }

.btn{
    margin-top: 10px;
    padding: 5px;   
    border-radius: 5px;
    background: #2f363e;
    height: 7vh;
    width: 155%;    
}

.btn:hover{
    box-shadow: 3px 3px 10px rgb(10, 250, 10);     
}

.btn-danger{
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    background: #2f363e;
    width: max-content;
    height: 7vh;
    width: 145%; 
}

.btn-danger:hover{
    box-shadow: 3px 3px 10px rgb(223, 15, 15);     

}