image: gradle:latest

stages:
  - test

unit-test:
  stage: test
  script:
    - echo "Test Started"
    - gradle test
    - echo "Test Passed"

front-end-unit-test:
  image: node:latest
  stage: test
  script:
    - echo "Front end unit test Started"
    - npm install
    - npm test
    - echo "Front end unit test Passed"

